.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-get-a-quote {
  background-image: linear-gradient(to right, #ef146e 0%, #fea958 51%, #ef146e 100%);
  margin: 10px;
  padding: 12px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: none;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.btn-get-a-quote:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-toggler {
}

.navbar-toggler:focus {
  box-shadow: none;
}
